# Android Studio / Gradle / IntelliJ
.gradle
/local.properties
/.idea
/build
.cxx
/captures
*.iml
.DS_Store

# Mobile Tools
/app/build
*.apk
*.aar
*.ap_

# Local configuration file (sdk path, etc.)
local.properties
